<button (click)="makeToast('error', true)">MAKE EXPIRING ERROR TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('error', false)">MAKE ERROR TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('warning', true)">MAKE EXPIRING WARNING TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('warning', false)">MAKE WARNING TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('info', true)">MAKE EXPIRING INFO TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('info', false)">MAKE INFO TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('success', true)">MAKE EXPIRING SUCCESS TOAST FROM CHILD</button>
<br /><br />
<button (click)="makeToast('success', false)">MAKE SUCCESS TOAST FROM CHILD</button>
